body {
    background-color: #f4f3ee;
    font-size: large;
    margin: 0 auto;
    max-width: 1000px;
    font-family: 微軟正黑體;
}

header {
    text-align: center;
    color: #8a817c;
    font-size: xx-large;
    font-family: 微軟正黑體;

}

fieldset {
    width: 95%;
}